.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }
.button_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button {
  background: #3390F6;
  width: 25%;
  color: white;
  margin: 0.2rem;
  padding: 10px;
  font-size: 16px;
  border-radius: 50%;
}
.operation-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.operator {
  background: #063161;
  width: 70%;
}
.special {
  background: #063161;
}